- @page_title  = "Coming Soon"
- @body_class  = nil

#wrapper
  = img "tiberias_top.gif"
  %a{:href => "mailto:info@tiberiasconstructioninc.com"}
    = img "tiberias_email.gif"
  = img "tiberias_soon.gif"
  %a{:href => "downloads/tiberias_work_and_references.pdf"}
    = img "tiberias_bot.gif"
