- @page_title  = "Coming Soon"
- @body_class  = nil

#wrapper
  #logo-wrapper
    #logo
      = img "/images/logo.png"
    
#footer
  %p For more information, contact:
  %h1 BeneStream
  %p 220 Lafayette Street, 3rd Floor<br/> New York, NY 10012
  %a{:href => "mailto:info@benestream.com"}info@benestream.com
